


body{
    /* margin: 10% 5%; */
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    background-image: url(bg1.jpg);
}
.container{
    align-items: center;
}
#btn{
    color: black;
    margin-top: auto;
    background-color: blue;
    padding-left: 40%;
    font-size: 30px;
}
button:hover{
    
    color: black;
    cursor: pointer;
}
#myvideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }