


body{
    /* margin: 10% 5%; */
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    background-image: url(bg1.jpg);
}
.container{
    align-items: center;
}
.button{
    margin-top: 15%;
}
.btn{
    text-decoration: none;
    font-size: 20px;
    border-radius: 18px;
    padding: 15px 30px;
    margin: 5px 4px;
    cursor: pointer;
    background-color:blue;
}
.btn a{
    text-decoration: none;
}
#btn{
    color: black;
    margin-top: auto;
    background-color: blue;
    padding-left: 40%;
    font-size: 30px;
}
