

body{
    background-color: blue;
    font-family: 'Times New Roman', Times, serif;
}
.heading{
        display: flex;
        justify-content: space-between;

}
.button{
    /* padding-left: 50%; */
    font-size: larger;
}